.clickShowButton {
  border-radius: 50px;
  background-color: grey;
  color: white;
  border: none;
  height: 4vh;
}

.list {
  border: 1px solid black;
  padding-top: .5%;
  padding-bottom: .5%;
  display: flex;
  justify-content: space-between;
}

.edit-button {
  cursor: pointer;
}

.if-not-button {
  width: 7.8vw;
}